/*標準*/
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    color: #171717;
    font-family: "Lato", sans-serif;
}

#main {
    margin-top: 10px;
    margin-bottom: 10px;
}


